*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url('buffet.jpg'); /* background image of the webpage  */
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 2%;
    justify-content: space-between;
    align-content: center;
}